*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.bg{
  //padding: 0;
  background-image: url("/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //margin-top: -55px;
}

.el-main {
  padding: 0;
}

.mb{
  margin-bottom: 1rem;
}

.mb2{
  margin-bottom: 2rem;
}

.el-menu.el-menu--horizontal {
  border-bottom: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.content {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity .5s
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
  opacity: 0
}

table {
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: grey;
}

.table{
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.table .thead-dark th {
  color: #f8fafc;
  background-color: #212529;
  border-color: #32383e;
}

#back-to-top {
  background: rgb(94, 112, 128);
}