*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.bg{
  //padding: 0;
  background-image: url("/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //margin-top: -55px;
}

.el-main {
  padding: 0;
}

.el-menu.el-menu--horizontal {
  border-bottom: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.content {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.page-enter-active, .page-leave-active {
  transition: opacity .4s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}